body {
    margin: 0;
    padding: 0;
    text-align: center; /* !!! 
    /* 16x9 Aspect Ratio background-image: url('https://media.giphy.com/media/OooGlXSocUZt6/giphy.gif');
    background-size: cover;*/
    font-family: Arial, sans-serif;
    font-kerning: 150%;
    link-style:
}

.centered {
    margin: 0 auto;
    text-align: left;
    width: 100vw;
}

h1 {
    text-align: center;
    font-size:10vw;
}

h3 {
    text-align: center;
    font-size:5vw;
    
}

p {
    text-align: center;
    font-size: 10px
}

a {
    text-decoration: none;
    color: black;
}

/* visited link */
a:visited {
    color: green;
}

/* mouse over link */
a:hover {
    text-decoration: line-through;
    text-decoration-color: green;
}


/* Iframe Responsiveness */

.intrinsic-container {
  position: relative;
  height: 0;
  overflow: hidden;
}

/* 16x9 Aspect Ratio */
.intrinsic-container-16x9 {
  padding-bottom: 56.25%;
}

/* 4x3 Aspect Ratio */
.intrinsic-container-4x3 {
  padding-bottom: 75%;
}

.intrinsic-container iframe {
  position: absolute;
  top:0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.success {
    position: 50vw; 50vh;
    margin-top: 20%;
    align-items: center;
}
